<tr id="<%= dom_id search %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= search.query %></th>
  <td class="px-6 py-4"><%= search.count %></td>
</tr>
